<h1>Add a new place you've been!</h1>

<form  action="/places" method="post">
  <label for="city">City:</label>
  <input id ="city" type="text" name="city">
  <label for="state">State:</label>
  <input id ="state" type="text" name="state">
  <button type="submit">Add Place!</button>
</form>

<a href="/places"> View all places </a>
<a href="/">Home</a>
